<!DOCTYPE html>
<html>
    <head>
        <link href="/static/css/bootstrap.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <meta name="viewport" content="width=device-width">
        <title>placepuppy</title>
    </head>
    <body>
        <div class="container">
        <div class="row">
            <div class="col-xs-6 text-center">
            <h1>Placepuppy</h1>
            <p class="lead">Adorable placeholder photos of puppies in choosable sizes.</p>
            <pre><code>http://puppies.lkng.me/400x300/</code></pre>

            <img src="/static/images/annie.jpg" class="annie">

            </div>
            <div class="col-xs-6">
                <img src="/static/images/vorsteh.jpg">
                <br/>
                <img src="/static/images/inko.jpg">
            </div>
        </div>
        </div>
    </body>


</html>
